.singleProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000000;
    padding: 20px;
    margin-bottom: 1rem;
    width: 200px;
    box-shadow: 10px 10px purple;
}
#productCatalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.singleProduct img {
    width: 100px;
}
.update {
    background: green;
}
.delete {
    background: red;
}
button {
    width: 95px;
    border-radius: 9px;
    cursor: pointer;
}
form {
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

}
form input {
    margin-bottom: 5px;
}

#post-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
